{% extends "base_min.html" %}
{% load i18n %}

{% block meta_title %}{% trans "The Black Earth Workers' Collective" %}{% endblock %}

{% block main %}
<div id="home_centre">
<img class="img-responsive" id="home_logo" src="../static/img/tri_black_earth.png" alt="The Black Earth Workers' Collective"></img>
<p>&nbsp;</p>
<h1>A Workers' Collective</h1>
<p>This account cleared up the otherwise unaccountable mystery, and showed that the landlord, after all, had had no idea of fooling me—but at the same time what could I think of a harpooneer who stayed out of a Saturday night clean into the holy Sabbath, engaged in such a cannibal business as selling the heads of dead idolators?</p>
</div>
{% endblock %}
